<app-nav></app-nav>

<section>
  <div style="height:9%;width:100%;"></div>


  <h1>Hello World....</h1>

  <p>This is a paragraph.</p>

  <div id="container">This is some text inside a container.</div>

</section>

<section style="background:red;">

  <svg xmlns="http://www.w3.org/2000/svg" width="33" height="130" style="right: 20px;">
    <rect id=" Decoration 1" data-name=" Decoration 1" width="33" height="130" fill="#fe0000"/>
  </svg>

  <h1>Hello World...</h1>

  <p>This is a paragraph.</p>

  <div id="container">This is some text inside a container.</div>

</section>
